/*
!.gitignore
!.bash/.gitignore
!.bashrc
!.vim/
!.powershell/
!.gitattributes
!.gitcolors
!.dir_colors/
!.zshrc
!.oh-my-zsh/
!.tmux.conf
!.yaourtrc
!.config/awesome/
!.tmux/plugins/
!.custom-zsh/
.config/
!.config/nvim/*
!.ideavimrc
