/*
!.gitignore
!.gitconfig

# git
!.gitattributes
!.gitcolors
!.dir_colors/

!.bash/.gitignore
!.bashrc

# zsh
!.zshrc
!.oh-my-zsh/
!.custom-zsh

!.tmux.conf
!.yaourtrc
!.tmux/plugins/

# config
!.config
.config/*

!.config/nvim
.config/nvim/plugin/packer_compiled.lua
!.config/bat

!.config/git

!.ideavimrc
